<div class="container">
  <div class="row mx-auto">
    <div class="col-12 col-md-4 mt-5 mb-3">
      <img class="img-fluid" src="https://picsum.photos/id/684/300/300" alt="logo">
    </div>
    <div class="col-12 col-md-8">
      <h4>Titulo</h4>
      <p> Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle ustée.
        Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no llamarte Rodrigor. Lorem
        fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle ustée. Amatomaa jarl
        va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no llamarte Rodrigor.
        Lorem
        fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle ustée. Amatomaa jarl
        va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no llamarte Rodrigor.
      </p>
      <div class="row">
        <div class="col-6">
          <span>nombre telefono</span>
        </div>
        <div class="col-6">
          <span> info@prueba.es</span>
        </div>
      </div>
      <span>dirección</span>
    </div>
  </div>
  <div class="row mx-auto">

    <div class="col-12 col-md-6 col-xl-3 my-4">
      <img class=" img-fluid " src="https://picsum.photos/id/684/300/300" alt="">
    </div>
    <div class="col-12 col-md-6 col-xl-3 my-4">
      <img class=" img-fluid " src="https://picsum.photos/id/684/300/300" alt="">
    </div>
    <div class="col-12 col-md-6 col-xl-3 my-4">
      <img class=" img-fluid " src="https://picsum.photos/id/684/300/300" alt="">
    </div>
    <div class="col-12 col-md-6 col-xl-3 my-4">
      <img class=" img-fluid " src="https://picsum.photos/id/684/300/300" alt="">
    </div>


  </div>
</div>
