<app-header></app-header>
<app-navegacion></app-navegacion>
<div class="container">
  <app-noticia *ngIf="router.url !== '/home'"
    (category)="getCategory($event)"></app-noticia>
</div>

<div *ngIf="!router.url.includes('anuncios/detalle')" class="container-fluid
  px-4
  bg-donkey-secondary">
  <div class="row">
    <!-- <div *ngIf="router.url.includes('home')" class="col-12 text-center mt-4"> -->
    <div class="col-12 text-center mt-4">
      <h2>NUESTRAS BURRAS EN VENTA</h2>
      <hr style="margin: 0 auto;">
    </div>

    <div class="container bg-donkey-secondary my-4">
      <button id="filtro" (click)="getAnuncios()" class="btn btn-danger"
        style="float: right;">Borrar filtro</button>

    </div>

  </div>



  <app-anuncio [anuncios]="anuncios" *ngIf="anuncios"></app-anuncio>

</div>
<router-outlet></router-outlet>
