.clickable{
  cursor: pointer;
}
.example-container {
  width: 100%;
  /* height: 100vh; */
  border: 1px solid rgba(0, 0, 0, 0.5);
}



.row .col button{
    position: absolute;
    bottom: 0;
    /* width: 152px; */
}

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: var(--color-B--color);
}

.logo{
  width: 100%;
  height: 120px;
  margin: 0 auto;
}

.logo img{
  width: 120px;
  height: 120px;
  display: block;
}

.menu-nav{
  width: 100%;
  height: 50px;
  /* background-color: var(--color-B--color); */
  background-color: #fafafa;
  display: flex;
}

.menu-user{
  width: 95%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.menu-user p{
  margin: 0;
  padding: 0 10px;
}

.mat-icon-button {
  width: 20px;
  height: 20px;

}


.mat-icon {
  height: 20px;
  width: 30px;
}

.menu-wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
  color: #303030;
}

#demo{

  padding-left: 110px;
}

#demo li a:hover{
  background-color: #fafafa36;
  color: #fafafa;
}

#demo li{
  padding-top: 5px ;
}

#demo li a{
  display: inline;

}

.c-wrapper{
  margin-top: 3em;
}

.content{
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 2em;

}

.card{
  height: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #fafafa;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.example-sidenav {
  display: none;
}

nav{
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

.navbar-expand-sm {
  justify-content: space-around;
}

.menu-button{
  display: none;
}

nav ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li a i{
  padding-bottom: 10px;
}

.navbar-nav{
  flex-direction: row;
}

@media (min-width: 768px){
  .example-sidenav {
    display: block;
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
    background-color: var(--color-A--color);
    width: 250px;
  }

  .example-sidenav ul li{
    padding: 0;
    margin: 0;
    border: none;
  }
  .example-sidenav ul.nav{

    margin: 0 auto;

  }

  .example-sidenav ul li a{
    color: white;
  }

  .example-sidenav ul li a img{
    width: 30px;
  }
  nav.navbar{
    display: none;
  }
  .menu-button{
    width: 5%;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
  }


}
