<!-- <div class="container-fluid">

</div>
 -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="row">
      <div class="col">


      <ul class="nav flex-column">
        <li class="bg-donkey list-group-item">
          <a class="nav-link active text-center" [routerLink]="['usuarios']">
            <img class="img-fluid m-1" width="30%" src="../../../assets/img/casco.png" alt="">
            Usuarios
          </a>
        </li>
        <li class="bg-donkey list-group-item">
          <a class="nav-link text-center" [routerLink]="['anuncios']">
            <img class="img-fluid m-1 p-1 mr-2" width="30%" src="../../../assets/img/anuncios.png" alt="">
             Anuncios
          </a>
        </li>
        <li class="bg-donkey list-group-item">
          <a class="nav-link text-center" [routerLink]="['noticias']">
            <img class="img-fluid mr-3 m-1" width="26%" src="../../../assets/img/mensaje.png" alt="">
            Noticias
          </a>
        </li>
        <li class="bg-donkey list-group-item">
          <a class="nav-link text-center" [routerLink]="['videotutoriales']">
            <img class="img-fluid m-1 mr-2" width="30%" src="../../../assets/img/moto.png" alt="">
            Tutoriales
          </a>
        </li>
      </ul>
      <button class="btn btn-block bg-danger text-white" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="logout()">Log Out</button>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>
