.bottom-sidebar {
  display: flex;
  border-radius: 50%;
  margin: 20px;
  text-align: center;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  margin: 0 20px
}

.sidebar {
  display: none;
}

.sidebar .menu-buttons {
  border-radius: 50%;
  margin: 20px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.sidebar .menu-buttons p {
  font-size: 14px;
}

.sidebar .menu-buttons i {
  color: white;
}

.sidebar .menu-buttons:hover i {
  color: tomato;
}

.navbar-nav{
  flex-direction: row;
}

@media (min-width: 992px) {
  .sidebar {
    width: 90px;
    height: calc(100vh - 66px);
    /*background-color: #343a40;*/
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottom-sidebar {
    display: none;
  }
}
