
mat-icon{
  cursor: pointer;
}
.bottom-sidebar {
  display: flex;
  text-align: center;
  font-size: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  margin: 0 20px;
}

.sidebar {
  display: none;
}

.sidebar .menu-buttons {
  border-radius: 50%;
  margin: 15px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.sidebar .menu-buttons p {
  font-size: 14px;
}

.sidebar .menu-buttons i {
  color: white;
}

.sidebar .menu-buttons:hover i {
  color: tomato;
}

.navbar-nav {
  flex-direction: row;
}

section.footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

td {
  vertical-align: middle;
}

@media (min-width: 992px) {
  .sidebar {
    /* width: 90px; */
    background-color: var(--color-B--color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
  }

  .bottom-sidebar {
    display: none;
  }
}

mat-drawer {
  width: 315px;
}

a.nav-link {
  color: white;
  font-family: VAR(--font-principal--);
  font-size: 1.4em;
}

.list-group-item {
  border: none;
}

.btn-donkey{
  color: white;
  background-color: tomato;
}

.btn-donkey:hover {
  color: #fff;
  background-color: rgb(230, 73, 46);
}


@media (min-width: 576px) { 
  .w-10{
    width: 50%;
  }

}
.w-10{
  width: 20%;
}

