<div class="row">
  <div class="col-2">
    <!-- MENU LATERAL -->
    <div class="nav sidebar">
      <div class="menu-buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="menu-buttons">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <p style="font-size: 14px;">TWITTER</p>
      </div>
      <div class="menu-buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="menu-buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="menu-buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="menu-buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="menu-buttons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>

      <!-- <ul class="list-group" style="height: 100vh; width: 90px;" class="d-flex justify-content-around flex-column bg-primary">
        <li class="">First item</li>
        <li class="">Second item</li>
        <li class="">Third item</li>
        <li class="">First item</li>
        <li class="">Second item</li>
        <li class="">Third item</li>
        <li class="">First item</li>
        <li class="">Second item</li>
        <li class="">Third item</li>
      </ul> -->

  </div>
  <div class="col-10">
    <!-- CONTENIDO -->
  </div>
</div>
