<div class="wrapper">

  <app-header></app-header>
  <div class="row m-0 p-0">
    <div class="col-md-1 p-0">
      <app-sidebar-nav></app-sidebar-nav>
    </div>
    <div class="col-12 col-md-11 p-0" style="background-color: #fafafa;">
      <div class="container h-100" *ngIf="router.url === '/dashboard'">
        <table class="table min-w-full divide-y divide-gray-200" id="table_id">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">

          </tbody>
        </table>
      </div>
      <div class="container">
        <router-outlet></router-outlet>

      </div>

      <!-- <app-perfil [userList]="userList"></app-perfil> -->


    </div>
  </div>

</div>
