<div class="wrapper">
  <!-- NAVEGACION TOP -->
  <div class="container-fluid top-nav">
  <div class="w-90">
    <div class="row py-2 align-items-center">
      <div class="col-4 col-md-4 col-lg-2">
        <img class="" src="../../../../assets/img/log-nav.png" alt="" style="width: 130px; ">
      </div>
      <div class="col-8 col-lg-6">
        <input class="form-control" type="text" placeholder="Buscar en todas las categorias">
      </div>
      <div class="col-md-4 top-nav-buttons">
        <button class="" style="border: 1px solid var(--color-B--color); border-radius: 20px;" *ngIf="isLogged"> <i class="fa fa-comment" aria-hidden="true"></i> Mensajes</button>
        <button class="" style="border: 1px solid var(--color-E--color); color: var(--color-E--color); border-radius: 20px;">Inicia Sesion</button>
        <button class="" style="background-color: var(--color-E--color); border-radius: 20px; color: white;"> <i class="fa fa-plus" aria-hidden="true"></i> Subir Producto</button>
      </div>
    </div>
  </div>
</div>
<section id="banner-text">

  <div class="row flex-column text-center w-90" >
    <h4>La plataforma de los amantes de las motocicletas customizadas</h4>
    <h1>¿Que Burra Quieres?</h1>
  </div>
</section>

  <!-- NAVEGACION MOBILE -->
  <div class="bottom-nav">
    <button class="btn">
      <i class="fa fa-home" aria-hidden="true"></i>
      <p>Inicio</p>
    </button>
    <button class="btn">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <p>Favoritos</p>
    </button>
    <button class="btn">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <p>Subir</p>
    </button>
    <button class="btn">
      <i class="fa fa-comment" aria-hidden="true"></i>
      <p>Mensajes</p>
    </button>
    <button class="btn">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <p>Acceder</p>
    </button>
  </div>
</div>
