@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Source+Serif+Pro:wght@400;600;700&display=swap");

/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

:root {
  --font-principal--font-family: "Oswald", sans-serif;
  --font-secundaria--font-family: "Source Serif Pro", serif;
  --color-A--color: #1a2930;
  --color-B--color: #587485;
  --color-C--color: #c6dbe3;
  --color-D--color: #f6f2e6;
  --color-E--color: #ef8a42;
}

@font-face {
  font-family: FontAwesome;
  src: url("../../../../assets/fonts/fa-solid-900.otf") format("opentype");
}

input.empty {
  font-family: Arial, FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

input {
  border-radius: 10px;
}

button {
  border-radius: 10px;
  /* color: var(--color-D--color); */
  color: white;
}

.height {
  height: 35px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  top: 30px;
  left: 0px;
}

.nav-item {
  margin-right: 0;
  text-align: center;
}

.logo {
  cursor: pointer;
}

@media (min-width: 992px) {
  .nav-item {
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  .logo {
    /* padding: 3em 0; */
    margin: 0 auto;
  }


}

@media (min-width: 576px) {
  .navbar-toggler {
    left: -20px;
  }
}
