@font-face {
  font-family: FontAwesome;
  src: url("../../../../assets/fonts/fa-solid-900.otf") format("opentype");
}

input.empty {
  font-family: Arial, FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

input {
  border-radius: 10px;
}


button {
  border-radius: 10px;
}

.height {
  height: 35px;
}
