@import url('../../../styles.css');

hr {
  border-color: VAR(--color-A--color);
  margin-bottom: 30px;
}


h1 {
  color: #fff;
  font-size: 4em;
  font-family: VAR(--font-principal--font-family);

}

.parallax {
  background-image: url("../../../assets/img/garaje1.jpg");
  padding: 12em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
