<section class="parallax">
  <div class="row m-0">
    <div class="col-12 col-md-6  mx-auto text-center">
      <p class="display-1 text-white">NOSOTROS</p>
    </div>

  </div>
</section>

<div class="container-fluid my-4">

  <div class="row ">
    <div class="col-8 mx-auto text-center">
      <h1>QUÉ HACEMOS EN OLD DONKEY</h1>
      <hr>
      <p>OLD DONKEY GARAGE es una app web especializada en la compra venta de motocicletas personalizadas.
        Nace con la intención de poder ayudar tanto a clientes, que buscan una motocicleta única que les defina, como a los constructores independientes, que crean este tipo de vehículos denominados CAFE RACER.
        El rollo Cafe Racer tuvo origen en los años 50 en inglaterra, creado por los jóvenes de la época e influenciado por el estilo de vida que llevaban. Mucho Rock and roll, motos y carreras.
        A día de hoy esas motocicletas han vuelto a la escena cotidiana, es por eso que las propias marcas han decidido lanzar sus propios modelos en serie, lo que resta esencia a este estilo añejo de motociclismo.
      </p>
    </div>

  </div>
</div>

<section class="parallax2">
  <div class="row m-0">
    <div class="col-12 col-md-6  mx-auto text-center">
      <h2 class="display-1 text-white">FILOSOFÍA</h2>
    </div>

  </div>
</section>

<div class="container-fluid my-4">

  <div class="row ">
    <div class="col-8 mx-auto text-center">
      <h2>Declaración de intenciones</h2>
      <hr>
      <p>Desde OLD DONKEY GARAGE queremos ayudar a los pequeños constructores independientes dándoles un espacio donde promocionarse ellos, un lugar donde poder exhibir sus motocicletas únicas, un lugar donde  poder vender a personas que buscan darse un capricho con estas motocicletas de estilo único.
        Queremos haces un llamamiento a toda la comunidad motera y hacer una asociacion de constructores independientes, disponer de un punto de encuentro donde poder intercambiar información, solventar cualquier duda existente sobre mecánica o cualquier otro tema importante, como las homologaciones y los requisitos para echar a rodar estas obras de arte con ruedas
      </p>
    </div>

  </div>
</div>
