@import url('../../../styles.css');

hr {
  border-color: VAR(--color-A--color);
  margin-bottom: 30px;
}

.display-1 {
  font-size: 3rem;
}


.parallax {
  background-image: url("../../../assets/img/carrusel/bmw-5.jpg");
  padding: 12em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.parallax2 {
  background-image: url("../../../assets/img/paralax-nosotros.jpg");
  padding: 12em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
