<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0 m-0">
      <div class="block-1 odg-paralax">
        <div class="sticky">
          <!-- <img class="img-fluid" src="../../../assets/img/logo-404.png" alt=""> -->
          <h1 class="">¿QUÉ ÉS OLD DONKEY GARAGE?</h1>
        </div>
      </div>
      <div class="block-2"></div>
      <div class="block-3">
        <div class="sticky">Lobortis & nostrud</div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row mt-4 mb-1">
    <div class="col-10 mx-auto d-flex">
      <img class=" mx-auto img-fluid" src="../../../assets/img/logo-404.png" alt="logo">
    </div>
  </div>
  <div class="row m-4">
    <div class="col-12 text-center">
      <h2>¿Qué es Old Donkey Garage?</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa laborum sunt facilis et blanditiis
        veniam
        beatae maxime earum ex labore ratione nam, neque nisi possimus vitae dolorum optio corporis error exercitationem
        magnam commodi animi. Totam, maiores quia accusamus unde culpa repellat nulla ipsum quaerat ea nam dignissimos
        aut
        qui non quam incidunt placeat enim neque libero quas nobis tempore laborum voluptatem cupiditate? Nostrum
        perferendis architecto, delectus repudiandae tenetur eaque qui, repellat quidem dolor ipsa cupiditate beatae,
        numquam esse dolores accusamus ab error laudantium incidunt ullam perspiciatis magnam provident culpa odio
        deleniti. Omnis repellendus doloribus ipsa natus, quidem quam doloremque cum optio ullam cupiditate maxime
        delectus impedit. Magnam, quas impedit debitis eius molestias unde cumque, rem nesciunt sit ratione vel! Soluta
        tempore ab pariatur voluptatibus. Commodi qui est beatae architecto iusto error suscipit id explicabo nesciunt
        totam! Amet laboriosam fugit obcaecati aut similique reprehenderit, non cum facere dolor soluta fugiat iusto
        eveniet. Deserunt voluptatem soluta, perferendis natus obcaecati, provident dolores consequatur quidem
        reiciendis
        accusamus quasi voluptate nisi consequuntur dolore aperiam hic libero ratione culpa delectus repellat asperiores
        inventore. Quam, repellendus assumenda? Nostrum eius, rem provident assumenda rerum dolorum autem, ex sit
        doloremque dolore accusantium nihil ab, odit minima ut numquam.</p>
    </div>

  </div>
  <div class="row m-4">
    <div class="col-12 text-center">
      <h2>Declaración de intenciones</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa laborum sunt facilis et blanditiis
        veniam
        beatae maxime earum ex labore ratione nam, neque nisi possimus vitae dolorum optio corporis error exercitationem
        magnam commodi animi. Totam, maiores quia accusamus unde culpa repellat nulla ipsum quaerat ea nam dignissimos
        aut
        qui non quam incidunt placeat enim neque libero quas nobis tempore laborum voluptatem cupiditate? Nostrum
        perferendis architecto, delectus repudiandae tenetur eaque qui, repellat quidem dolor ipsa cupiditate beatae,
        numquam esse dolores accusamus ab error laudantium incidunt ullam perspiciatis magnam provident culpa odio
        deleniti. Omnis repellendus doloribus ipsa natus, quidem quam doloremque cum optio ullam cupiditate maxime
        delectus impedit. Magnam, quas impedit debitis eius molestias unde cumque, rem nesciunt sit ratione vel! Soluta
        tempore ab pariatur voluptatibus. Commodi qui est beatae architecto iusto error suscipit id explicabo nesciunt
        totam! Amet laboriosam fugit obcaecati aut similique reprehenderit, non cum facere dolor soluta fugiat iusto
        eveniet. Deserunt voluptatem soluta, perferendis natus obcaecati, provident dolores consequatur quidem
        reiciendis
        accusamus quasi voluptate nisi consequuntur dolore aperiam hic libero ratione culpa delectus repellat asperiores
        inventore. Quam, repellendus assumenda? Nostrum eius, rem provident assumenda rerum dolorum autem, ex sit
        doloremque dolore accusantium nihil ab, odit minima ut numquam.</p>
    </div>

  </div>
</div>
