<div class="container-fluid p-0">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lista de usuarios registrados</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" data-toggle="modal" data-target="#exampleModal">add</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <mat-tab-group>

    <mat-tab label="Lista de noticias">

      <div class="container">
        <table datatable [dtOptions]="dtOptions" class="table mat-elevation-z8">
          <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let noticia of allNoticias">
              <td>{{noticia.id}}</td>
              <td>{{noticia.title}}</td>
              <td>{{noticia.body}}</td>
              <td>
                <mat-icon (click)="deleteNoticia(noticia)" class="example-icon" aria-hidden="false" aria-label="Example heart icon">delete</mat-icon>
                <mat-icon (click)="editNoticia(noticia)" class="example-icon" aria-hidden="false" aria-label="Example heart icon" data-toggle="modal" data-target="#exampleModal">edit</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>

     <!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

    </mat-tab>
    <mat-tab label="Añadir noticia">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Titulo</label>
    <input type="text" class="form-control" formControlName="titulo" name="titulo"
      placeholder="Introduce el titulo de tu anuncio">
    <small class="form-text text-muted"
      *ngIf="form.controls.titulo.errors && form.controls.titulo.touched">Debe contener al menos
      10
      letras</small>
  </div>

  <div class="form-group">
    <label for="">Imágen</label>
    <input type="text" class="form-control" formControlName="imagen" name="imagen">

  </div>

  <div class="form-group">
    <label for="">Descripción</label>
    <textarea rows="5" cols="50" class="form-control" formControlName="descripcion" name="descripcion"
      placeholder="Introduce el titulo de tu anuncio"></textarea>
    <small class="form-text text-muted"
      *ngIf="form.controls.descripcion.errors && form.controls.descripcion.touched">Debe
      contener un minimo
      de 100
      letras y un máximo de 1000</small>
  </div>

  <div class="form-group">
    <label for="">Autor</label>
    <input type="text" class="form-control" formControlName="autor" name="autor" placeholder="@juan_camus">
    <small class="form-text text-muted"
      *ngIf="form.controls.autor.errors && form.controls.autor.touched">Debe contener al menos 3
      letras</small>
  </div>

  <div class="form-group mb-4">
    <label for="">Categoría</label>
    <select class="form-control" formControlName="categoria" name="categoria">
      <option value="">Elija una categoría</option>
      <option value="mecanica">Mecánica</option>
      <option value="electricidad">Eléctricidad</option>
      <option value="pintura">Pintura</option>
      <option value="reparacion">Reparación</option>
      <option value="consejos">Consejos</option>
      <option value="homologaciones">Homologaciones</option>
      <option value="noticias">Noticias</option>
    </select>
  </div>
  <div class="row mx-0">
<!--     <button class="btn btn-primary btn-block " type="submit" [disabled]="!form.valid">Enviar</button>
 -->    <button class="btn btn-primary btn-block " type="submit" >Enviar</button>
  </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

