<div class="container-fluid p-0">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="bg-donkey">
      <span>Lista de noticias</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <!-- Tabla -->
  <div class="row">

    <mat-expansion-panel [expanded]="!panelOpenState">
      <mat-expansion-panel-header>
        Lista Noticias
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia"> <!-- evento que llama a funcion-->
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Titulo </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container> -->
 
        <!-- Symbol Column -->
        <ng-container matColumnDef="autor">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Autor </th>
          <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Actions </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="editNoticia(element)" class="example-icon mr-2" aria-hidden="false"
              aria-label="Example heart icon" data-toggle="modal" data-target="#exampleModal">edit</mat-icon>
            <mat-icon (click)="deleteNoticia(element)" class="example-icon " aria-hidden="false"
              aria-label="Example heart icon">delete</mat-icon>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <!-- tabla -->
    </mat-expansion-panel>
  </div>
  <!-- formulario -->
  <div class="row">
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        Crear Editar Noticias
      </mat-expansion-panel-header>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- <h4 class="text-center pt-3">{{estado}} motocicleta</h4> -->
          <label for="">Titulo</label>
          <input type="text" class="form-control" formControlName="titulo" name="titulo"
            placeholder="Introduce el titulo de tu anuncio" [value]="noticiaEdit.titulo">
          <small class="form-text text-muted" *ngIf="form.controls.titulo.errors && form.controls.titulo.touched">Debe
            contener al menos
            10
            letras</small>
        </div>

        <div class="form-group">
          <label for="">Imágen</label>
          <input type="text" class="form-control" formControlName="imagen" name="imagen" [value]="noticiaEdit.imagen">

        </div>

        <div class="form-group">
          <label for="">Descripción</label>
          <textarea rows="5" cols="50" class="form-control" formControlName="descripcion" name="descripcion"
            placeholder="Introduce el titulo de tu anuncio" [value]="noticiaEdit.descripcion"></textarea>
          <small class="form-text text-muted"
            *ngIf="form.controls.descripcion.errors && form.controls.descripcion.touched">Debe
            contener un minimo
            de 100
            letras y un máximo de 1000</small>
        </div>

        <div class="form-group">
          <label for="">Autor</label>
          <input type="text" class="form-control" formControlName="autor" name="autor" placeholder="@juan_camus"
            [value]="noticiaEdit.autor">
          <small class="form-text text-muted" *ngIf="form.controls.autor.errors && form.controls.autor.touched">Debe
            contener al menos 3
            letras</small>
        </div>

        <div class="form-group mb-4">
          <label for="">Categoría</label>
          <select class="form-control" formControlName="categoria" name="categoria" [value]="noticiaEdit.categoria">
            <option value="">Elija una categoría</option>
            <option value="mecanica">Mecánica</option>
            <option value="electricidad">Eléctricidad</option>
            <option value="pintura">Pintura</option>
            <option value="reparacion">Reparación</option>
            <option value="consejos">Consejos</option>
            <option value="homologaciones">Homologaciones</option>
            <option value="noticias">Noticias</option>
          </select>
        </div>
        <div class="row mx-0">
          <button *ngIf="!noticiaEdit.id" class="btn btn-primary btn-block " type="submit">Enviar</button>
          <button *ngIf="noticiaEdit.id" class="btn btn-primary btn-block " type="submit">Editar</button>
        </div>
      </form>
      <!-- formulario -->
    </mat-expansion-panel>
  </div>

</div>
