.parallax{
  background-image: url("../../../assets/img/paralax-2.jpg");
  padding: 10em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
