<app-carousel></app-carousel>
<!-- <app-noticias></app-noticias> -->

<div class="container-fluid bg-donkey-secondary">
  <app-noticia> </app-noticia>
</div>

<section class="parallax">
  <div class="row m-0">
    <div class="col-12 col-md-6 text-center">
      <h1 class="display-1 text-white">CAFÉ</h1>
    </div>
    <div class="col-12 col-md-6 text-center">
      <h1 class="display-1 text-white">RACER</h1>
    </div>
  </div>
</section>

<!-- <section class="bg-donkey-secondary">

  <app-noticia></app-noticia>
</section> -->


<app-moto></app-moto>
