<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static" (click)="sendForm()">
  Open modal
</button>

<!-- The Modal -->



<div class="container-fluid p-0">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="bg-donkey">
      <span class="mx-auto">Lista de usuarios</span>
      <!-- <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" data-toggle="modal"
        data-target="#exampleModal">add</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container mt-5">
  <!-- tabla -->
  <div class="row">

    <mat-expansion-panel [expanded]="!panelOpenState">
      <mat-expansion-panel-header>
        Todos los Usuarios
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef class="pr-3"> Rol </th>
          <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="editUser(element)" class="example-icon mr-2" aria-hidden="false"
              aria-label="Example heart icon" data-toggle="modal" data-target="#exampleModal">edit</mat-icon>
            <mat-icon (click)="deleteUser(element)" class="example-icon" aria-hidden="false"
              aria-label="Example heart icon">delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <!-- tabla -->
    </mat-expansion-panel>
  </div>
  <!-- formulario -->
  <div class="row">
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        Crear Editar Usuarios
      </mat-expansion-panel-header>


      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group col-12 p-0">

          <div class="form-group">
            <label for="">Username</label>
            <input value="{{usuarioEdit['username']}}" type="text" class="form-control"
              placeholder="Introduzca su nombre" formControlName="username" name="nombre">

          </div>

          <div class="form-group">
            <label for="">Email</label>
            <input value="{{usuarioEdit['email']}}" type="text" class="form-control" formControlName="email"
              name="email">

          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" formControlName="password" name="password">

          </div>

          <div class="form-group" *ngIf="usuarioEdit.id">
            <label for="">Rol Usuario</label>
            <select class="form-control" name="" id="" formControlName="rol">
              <option value="" *ngIf="usuarioEdit.id">{{usuarioEdit.rol}}</option>
              <option value="Usuario" *ngIf="usuarioEdit.rol !== 'Usuario'">Usuario</option>
              <option value="Constructor" *ngIf="usuarioEdit.rol !== 'Constructor'">Constructor</option>
              <option value="Admin" *ngIf="usuarioEdit.rol !== 'Admin'">Admin</option>
            </select>
          </div>

        </div>

        <button *ngIf="!usuarioEdit.id" class="btn btn-primary btn-block " type="submit"
          [disabled]="!form.valid">Enviar</button>
        <button *ngIf="usuarioEdit.id" class="btn btn-primary btn-block " type="submit"
         >Editar</button>

      </form>

      <!-- formulario -->

    </mat-expansion-panel>
  </div>
</div>
