<div class="sidebar-nav">

  <div class="sidenav-section">
    <a class="">
      <img src="https://picsum.photos/id/684/60/60" alt="" />
      <span>PERFIL</span>
    </a>
  </div>

  <div class="sidenav-section">
    <a class="">
      <img src="https://picsum.photos/id/685/60/60" alt="" />
      <span>Productos</span>
    </a>
  </div>

  <div class="sidenav-section">
    <a class="">
      <img src="https://picsum.photos/id/686/60/60" alt="" />
      <span>MENSAJES</span>
    </a>
  </div>
  <div class="sidenav-section">
    <a class="">
      <img src="https://picsum.photos/id/687/60/60" alt="" />
      <span>FAVORITOS</span>
    </a>
  </div>
  <div class="sidenav-section">
    <a class="">
      <img src="https://picsum.photos/id/688/60/60" alt="" />
      <span>OPINIONES</span>
    </a>
  </div>
  <div class="sidenav-section">
    <a class="">
      <img src="https://picsum.photos/id/689/60/60" alt="" />
      <span>ESTADISTICAS</span>
    </a>
  </div>

</div>
