

.bg-donkey {
  background-color: var(--color-A--color);
  /* background-color: black; */

}

app-footer{
  position: sticky;
  bottom: 0;
  width: 100%;
}

.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;

}

app-contacto{
  background-color: var(--color-C--color);
}

.main{
  background-color: var(--color-B--color)
}
