.slick-slide {
  display: block;
  float: left;
  height: 146px !important;
}

.card {
  margin-top: 1em;
  border-radius: 20px;
}


* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}


@media (min-width: 768px) {

  hr {
    border-top: 4px solid white;
    width: 10%;
  }
}
