<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h2>CONSTRUYE TU BURRA</h2>
      <hr>
    </div>
    <div class="col-10 mx-auto mt-4">
      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N0wmWwMNPho"></iframe>
          </div>
        </div>

        <div class="col-12 col-lg-6 px-4">
          <div class="row">
            <div class="mb-2">
              <h4>¿QUÉ ES UNA CAFÉ RACER?</h4>
            </div>
            <div class="mb-3">
              <p class="m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat aliquid consectetur neque
                adipisci a, non odio at voluptas corrupti facere recusandae, aut totam sequi qui debitis architecto
                sapiente earum culpa? Recusandae aspernatur harum alias ea magnam facilis rem saepe iusto?
              </p>
            </div>
            <div class="mb-4">
              <span><strong>Por: Aarón GT</strong></span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-10 mx-auto mt-3">
      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ck7Tgz4zDjY"></iframe>
          </div>
        </div>

        <div class="col-12 col-lg-6 px-4">
          <div class="row">
            <div class="mb-2">
              <h4>¿GOD OR EVIL?</h4>
            </div>
            <div class="mb-3">
              <p class="m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat aliquid consectetur neque
                adipisci a, non odio at voluptas corrupti facere recusandae, aut totam sequi qui debitis architecto
                sapiente earum culpa? Recusandae aspernatur harum alias ea magnam facilis rem saepe iusto?
              </p>
            </div>
            <div class="mb-4">
              <span><strong>Por: Racer TV</strong></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
