<div class="container-fluid ">
  <div class="row">
    <div class="col-10 col-md-8 col-xl-6 mx-auto mt-4 mb-3">
      <img class="img-fluid" src="../../../assets/img/iconos-motos.png" alt="">
    </div>
  </div>
  <div class="row mx-auto text-center">
    <p class="col-12"> HTTP ERROR</p>
    <h1 class="col-12">404</h1>
    <p class="col-12">NOT FOUND</p>
  </div>
  <div class="row">
    <div class="col-10 col-md-8 col-xl-6 mx-auto mb-3">
      <img class="img-fluid" src="../../../assets/img/iconos-motos.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-md-8 col-xl-6 mb-4">
      <img class="img-fluid" src="../../../assets/img/logo-404.png" alt="">
    </div>
  </div>

</div>
