.close {
  margin-top: 20px;
  margin-right: 20px;
  background-color: #1b1b1b;
  color: white;
  padding: 5px;
  border-radius: 7px;
  width: 30px;
  opacity: 0.9;
  position: absolute;
  right: 0;
}

.modal-content {
  border-radius: 5%;
}

.modal-content {
  max-width: 400px;
  margin: 30px auto;
}

