<!-- Modal -->
<div #qmodal class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- MODAL HEADER -->
      <div class="modal-header border mx-auto mt-5 border-0">
        <img src="../../../../assets/img/log-nav.png" alt="">

      </div>
      <!-- MODAL BODY -->
      <div class="modal-body mx-4 pb-0">
        <!-- FORMULARIO LOGIN / REGISTRO -->
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
          <div class="form-group">
            <label>Introduce tu email</label>
            <input type="text" class="form-control text-center" placeholder="Introduzca tu email"
              name="email" formControlName="email">
            <small class="form-text text-muted"
              *ngIf="form.controls.email.errors && form.controls.email.touched">Es necesario insertar un
              usuario</small>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control text-center" placeholder="Introduzca su contraseña" name="password"
              formControlName="password">


          </div>
          <div class="modal-footer border border-0 d-flex justify-content-between mx-4 mb-3">
            <button #myButton id="acceder" class="btn btn-primary " type="submit" [disabled]="!form.valid" >Acceder</button>
            <button class="btn btn-primary" type="submit" data-dismiss="modal"
              [routerLink]="['/registro']">Registro</button>
          </div>
          <small class="form-text text-muted"
              *ngIf="!valid">Email o contraseña no valido</small>

        </form>



      </div>
      <!-- MODAL FOOTER -->

    </div> <!-- modal content -->
  </div>
</div>
