/* @font-face {
  font-family: 'Old-stamper';
  src: url("./assets/fonts/old_stamper.otf");
}
@font-face {
  font-family: 'Barber';
  src: url("./assets/fonts/Barber-Street_PersonalUseOnly.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Source+Serif+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;800&display=swap'); */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

:root {
  --font-principal--font-family: 'Oswald', sans-serif;
  --font-secundaria--font-family: 'Source Serif Pro', serif;
  --font-precios--font-family: 'Old-stamper', serif;
  --font-barber--font-family: 'Barber', serif;

  --color-A--color: #1A2930;
  --color-B--color: #587485;
  --color-C--color: #C6DBE3;
  --color-D--color: #d8d8d8;
  --color-E--color: #EF8A42;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Oswald", sans-serif;
  font-weight: 300;
}

.slick-slide {
  display: block;
  float: left;
  height: auto;
}

.bg-donkey {
  background-color: var(--color-A--color);
  /* background-color: black; */

}

.bg-donkey-secondary {
  background-color: var(--color-B--color);
}

.bg-donkey-light {
  background-color: var(--color-D--color);
}


hr {
  border-top: 2px solid white;
  width: 35%;
}


.mat-drawer-inner-container {
  display: flex;
}



@media (min-width: 768px) {

  hr {
    border-top: 4px solid white;
    width: 10%;
  }




}


.mat-paginator {
  width: 100%;
}

.mat-expansion-panel {
  width: 100%;
}

table.mat-table {
  width: 100%;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0.5rem 0;
  text-transform: none;
}

p{
  margin: 1rem 0;
}
