<!-- <div style="display: flex; flex-wrap: wrap; justify-content: center;">
<div class="wrapper" *ngFor="let anuncio of anuncios">
  <!-- <div class="card-box-img">
  </div>
  <div class="card-box-body">
    <img src="https://picsum.photos/id/684/300/300" alt="">
    <div class="card-box-body-row">
      <h1>{{anuncio.titulo}}</h1>
      <p>{{anuncio.descripcion}}</p>
    </div>
    <div class="card-box-body-row">
      <p><span>17</span>per person</p>
      <div class="calification">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <p>28 reviews</p>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="wrapper">

  <div class="container">
    <div class="card" *ngFor="let anuncio of anuncios" (click)="showDetail(anuncio)">
      <div class="face face1">
        <div class="content">
          <img
            [src]="anuncio.imagen_id">
          <h3>{{anuncio.titulo}}</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>{{anuncio.descripcion}}</p>
          <a href="#">{{anuncio.precio}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
