.bg-precio {
  color: rgb(167, 167, 167);
  font-family: VAR(--font-precios--font-family);
  font-size: 2rem;
}

.btn-dark {
  color: white;
  background-color: VAR(--color-B--color);
  border-color: VAR(--color-B--color);
}

