<div class="container-fluid bg-donkey pb-5">
  <div class="container bg-donkey">
    <div class="pb-2 pt-4 text-center">
      <h3 class="text-white">BURRAS EN VENTA</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto px-4 col-10 col-md-6 col-lg-4 py-3" *ngFor="let moto of allAnuncios">
      <mat-card class="example-card">
        <img mat-card-image src="https://picsum.photos/id/694/600/400" alt="Photo of a Shiba Inu">
        <!-- <mat-card-header> -->

        <div class="px-3 mt-3">
          <div class="row mt-4 mb-3">
            <div class="col-12">
              <h5 class="">
                {{moto.titulo}}
              </h5>
            </div>
          </div>

          <!-- <mat-card-subtitle>{{noticia.autor}}</mat-card-subtitle> -->
          <!-- </mat-card-header> -->

          <mat-card-content  class="mb-2">
            <p>{{moto.descripcion}}</p>
          </mat-card-content>
          <div class="col-12 p-0 mb-1">
            <h5 class="mb-0 bg-precio text-center text-price">
              {{moto.precio}} €
            </h5>
          </div>

          <mat-card-actions>
            <button class="btn btn-dark btn-block">VER ANUNCIO</button>

          </mat-card-actions>
        </div>
      </mat-card>
    </div>

  </div>
</div>
