table.mat-table {
  width: 100%;
}

mat-icon{
  cursor: pointer;
}

h5,p{
  margin: 0;
  padding: 0;

}

.icons{
  position: absolute;
  right: 5%;
  display: flex;
}

.icons em{
  cursor: pointer;
  margin: 0 10px;
}

ul li div img{
  width: 60px;
  height: 60px;
}

.mat-toolbar{
  background-color: #303030;
  color: #fafafa;
}
