<div class="container-fluid p-0">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="mx-auto" *ngIf="allAnuncios" [matBadge]="allAnuncios.length" matBadgeOverlap="false" matBadgeColor="warn">Lista de Anuncios</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <!-- MODO LISTA-->
  <div class="row">
    <ul class="list-group w-100">
      <li class="list-group-item d-flex align-items-center" *ngFor="let anuncio of allAnuncios">

        <input type="checkbox" id="exampleCheck1">
        <div class="px-4 d-flex align-items-center">

          <img class="rounded-circle" src="https://picsum.photos/id/684/50/50" alt="">
        </div>
        <div>
          <h5>ID: {{anuncio.id}}</h5>
          <p>Titulo: {{anuncio.titulo}}</p>
        </div>
        <div class="icons">
          <i (click)="editAnuncio(anuncio)" class="fas fa-edit fa-lg fa-fw" style="color: blue;" ></i>
          <i class="fas fa-trash fa-lg fa-fw" style="color: red;"></i>
        </div>
      </li>
    </ul>
  </div>
  <!-- tabla -->
  <div class="row">

    <mat-expansion-panel [expanded]="!panelOpenState">
      <mat-expansion-panel-header>
        Lista Anuncios
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
      </mat-form-field>


      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Titulo </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="editAnuncio(element)" class="example-icon" aria-hidden="false" aria-label="Example heart icon">edit</mat-icon>
            <mat-icon (click)="deleteAnuncio(element)" class="example-icon" aria-hidden="false"aria-label="Example heart icon">delete</mat-icon>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-expansion-panel>
  </div>
  <!-- MODAL FORM -->



  <!-- formulario -->
  <div class="row">
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        Crear Editar Anuncios
      </mat-expansion-panel-header>

        <form [formGroup]="form" (ngSubmit)="submit(form)" enctype="multipart/form-data">
          <!-- titulo -->
          <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo" name="titulo"
              placeholder="Introduce el titulo de tu anuncio" value="{{anuncioEdit['titulo']}}">
          </div>
          <!-- descripcion -->
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea rows="5" cols="50" class="form-control" formControlName="descripcion" name="descripcion"
              placeholder="Introduce el titulo de tu anuncio" value="{{anuncioEdit['descripcion']}}"></textarea>
          </div>
          <!-- precio - km -->
          <div class="row">
            <div class="form-group col-6">
              <label>Precio</label>
              <input type="number" class="form-control" formControlName="precio" name="precio" placeholder="Precio"
                value="{{anuncioEdit['precio']}}">
            </div>
            <div class="form-group col-6">
              <label>KM</label>
              <input type="number" class="form-control" formControlName="km" name="km" placeholder="Kilometros"
                value="{{anuncioEdit['km']}}">
            </div>
          </div>
          <!-- itv - homologacion -->
          <div class="row">
            <div class="custom-control custom-checkbox mx-auto col-5">
              <input type="checkbox" value="false" class="custom-control-input" id="itv" formControlName="itv"
                name="itv" value="{{anuncioEdit['itv']}}">
              <label class="custom-control-label" for="itv">ITV</label>
            </div>
            <div class="custom-control custom-checkbox mx-auto col-5">
              <input type="checkbox" value="false" class="custom-control-input" id="homologacion"
                formControlName="homologacion" name="homologacion" value="{{anuncioEdit['homologacion']}}">
              <label class="custom-control-label" for="homologacion">Homologación</label>
            </div>
          </div>
          <!-- marca - modelo -->
          <div class="row mt-2">
            <div class="form-group col-6">
              <label for="">Marca</label>
              <select (change)="filtrarMarcas(form)" id="marca" class="form-control" formControlName="marca"
                name="marca" value="{{anuncioEdit['marca']}}">
                <option value="" selected>Seleciona una marca</option>
                <option *ngFor="let marca of marcas" [id]="marca.id" [value]="marca.name">{{marca.name}}</option>

              </select>
            </div>
            <div class="form-group col-6">
              <label for="">Modelo</label>
              <select class="form-control" formControlName="modelo" value="{{anuncioEdit['modelo']}}" name="modelo">
                <option value="" selected *ngIf="!anuncioEdit">Seleciona un modelo</option>
                <option value="{{anuncioEdit['modelo']}}" selected>{{anuncioEdit['modelo']}}</option>
                <option *ngFor="let modelo of filtroModelos" [value]="modelo.name">{{modelo.name}}</option>
              </select>
            </div>


          </div>
          <!-- provincia - poblacion -->
          <div class="row mt-2">
            <div class="form-group col-6">
              <label for="">Provincia</label>
              <select (change)="getProvincias($event)" class="form-control" id="provincia" formControlName="provincia"
                name="provincia">
                <option value="" selected>Seleciona una provincia</option>
                <option *ngFor="let provincia of provinciasOrder" [value]="provincia.provincia"
                  [attr.data-id]="provincia.id">{{provincia.provincia}}</option>
              </select>
              <!-- <input type="hidden" name="id" *ngFor="let provincia of provincias" formControlName="id" [value]="provincia.id"> -->
            </div>
            <div class="form-group col-6 pr-0">
              <label for="">Población</label>
              <select class="form-control" id="poblacion" formControlName="poblacion" name="poblacion"
                value="{{anuncioEdit['poblacion']}}">
                <option value="" selected *ngIf="!anuncioEdit">Seleciona un poblacion</option>
                <option value="{{anuncioEdit['poblacion']}}" selected>{{anuncioEdit['poblacion']}}</option>
                <option *ngFor="let poblacion of filtroProvincias" [value]="poblacion.nm">{{poblacion.nm}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="">Año</label>
            <input type="text" class="form-control" formControlName="year" name="year"
              placeholder="Introduce el titulo de tu anuncio" value="{{anuncioEdit['year']}}">
          </div>

          <!-- CONEXION CON TIPO_MOTO o VALORES FIJOS?? -->

          <div class="form-group mb-4">
          <label for="">Tipo de custom</label>
          <select class="form-control" formControlName="categoria" name="categoria" value="{{anuncioEdit['categoria']}}">
            <option value="">Modelo custom</option>
            <option value="bobber">Bobber</option>
            <option value="cafe_racer">Café Racer</option>
            <option value="chopped">Chopped</option>
            <option value="brad">Brad</option>
            <option value="street_tracker">Street tracker</option>
            <option value="scramblet">Scramblet</option>

          </select>
        </div>


          <div class="row mx-0">
            <input class="form-control-file" (change)="onFileChange($event)" type="file" value="Enviar">
            <button *ngIf="!anuncioEdit.id" class="btn btn-primary btn-block " type="submit">Enviar</button>
            <button *ngIf="anuncioEdit.id" class="btn btn-primary btn-block " type="submit">Editar</button>
          </div>
        </form>

    </mat-expansion-panel>
  </div>
</div>
